@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html,
button,
select,
textarea,
input {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  color: white;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

a,
a:visited {
  opacity: 0.75;
  text-decoration: lightgray underline;
  background-color: lightgray;
  color: #000000;
  font-family: 'Dancing Script', cursive;
}

a,
a:visited:hover {
  background-color: darkgrey;
  text-decoration: darkgrey underline;
  border-color: darkgrey;
  color: black;
  ;
}

button.button {
  background-color: darkgrey;
  border: 2px solid transparent;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: darkgrey;
  color: darkgrey;
  ;
}

button.button:active {
  background-color: darkgray;
}

input,
textarea {
  border: 5px solid darkgrey;
  border-radius: 4px;
  border-style: groove;
  padding: 1em 1.5em;
  color: black;
}

table {
  margin: auto;
}

td,
th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}


.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
  font-size: 15px;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
  color: black;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.tag-card-title {
  margin-bottom: 0;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
  color: black;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}