{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Away</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Scrumptioussss!</a>
                </li>
                <li>
                    <a href="{% url 'tags_list' %}">Tags</a>
                </li>
                <li>
                    <a href="{% url 'recipe_new' %}">Give me your recipe?</a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admins Only</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>It looks like you took a wrong turn...</h1>
        <p>Were you trying to visit {{request_path}} ? </p>
        <p>It looks like you got the following exception: {{exception}}</p>
    </main>
    <footer></footer>
</body>

</html>