{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <style>
        body {
            background: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/57/42/2957a092f3cb929.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Scrumptioussss!</a>
                </li>
                <br>
                <li>
                    <a href="{% url 'tags_list' %}">Tags</a>
                </li>
                <br>
                <li>
                    <a href="{% url 'recipe_new' %}">Gimme Your Recipe?</a>
                </li>
                <br>
                {% if user.is_staff %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                <br>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <br>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>